name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Cache cargo directories
        uses: Swatinem/rust-cache@v2

      - name: Build
        run: cargo build --locked --all-targets

      - name: Test
        run: cargo test --locked
